<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hw2-Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C64EC91DE30AC700D51FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C64EDD1DE30AC800D51FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C64EE81DE30AC800D51FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
